
.shadow {}

.shadow-lg {
    -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) !important;
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15) !important;
}

.badge-primary {
    background-color: var(--bg-primary) !important;
    color: #ffffff !important;
}

.badge-outline-primary {
    background-color: transparent !important;
    color: var(--bg-primary) !important;
    border: 1px solid var(--bg-primary) !important;
}

.badge-secondary {
    background-color: #5a6d90 !important;
    color: #ffffff !important;
}

.badge-outline-secondary {
    background-color: transparent !important;
    color: #5a6d90 !important;
    border: 1px solid #5a6d90 !important;
}

.badge-success {
    background-color: #2eca8b !important;
    color: #ffffff !important;
}

.badge-outline-success {
    background-color: transparent !important;
    color: #2eca8b !important;
    border: 1px solid #2eca8b !important;
}

.badge-warning {
    background-color: #f17425 !important;
    color: #ffffff !important;
}

.badge-outline-warning {
    background-color: transparent !important;
    color: #f17425 !important;
    border: 1px solid #f17425 !important;
}

.badge-info {
    background-color: #17a2b8 !important;
    color: #ffffff !important;
}

.badge-outline-info {
    background-color: transparent !important;
    color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
}

.badge-danger {
    background-color: #e43f52 !important;
    color: #ffffff !important;
}

.badge-outline-danger {
    background-color: transparent !important;
    color: #e43f52 !important;
    border: 1px solid #e43f52 !important;
}

.badge-dark {
    background-color: #3c4858 !important;
    color: #ffffff !important;
}

.badge-outline-dark {
    background-color: transparent !important;
   color: var(--text-default) !important;
    border: 1px solid #3c4858 !important;
}

.badge-muted {
    background-color: var(--bg-muted) !important;
    color: #ffffff !important;
}

.badge-outline-muted {
    background-color: transparent !important;
    color: var(--text-muted) !important;
    border: 1px solid #8492a6 !important;
}

.badge-light {
     background-color: var(--bg-secondary) !important;
    color: #ffffff !important;
}

.badge-outline-light {
    background-color: transparent !important;
    color: var(--text-light) !important;
    border: 1px solid #f8f9fc !important;
}

.badge-blue {
    background-color: var(--bg-primary) !important;
    color: #ffffff !important;
}

.badge-outline-blue {
    background-color: transparent !important;
    color: var(--bg-primary) !important;
    border: 1px solid var(--bg-primary) !important;
}

.badge-footer {
     background-color: var(--bg-third) !important;
    color: #ffffff !important;
}

.badge-outline-footer {
    background-color: transparent !important;
    color: var(--bg-third) !important;
    border: 1px solid var(--bg-third) !important;
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
}

.badge.badge-light {
   color: var(--text-default) !important;
     background-color: var(--bg-secondary) !important;
}

.badge.badge-outline-light {
   color: var(--text-default) !important;
    border: 1px solid #b1bcdd !important;
    background-color: transparent !important;
}

.badge.badge-pill {
    border-radius: 12px;
}

.badge:focus,
.badge.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



.btn-group .dropdown-toggle:after {
    content: "";
    position: relative;
    right: -4px;
    top: -2px;
    border: solid #ffffff;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 0;
    vertical-align: 0;
}

.btn-group .dropdown-menu {
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

.btn-group .dropdown-menu:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 7px solid #495057;
    border-radius: 0.5px;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgba(22, 28, 45, 0.15);
    box-shadow: -2px 2px 2px -1px rgba(22, 28, 45, 0.15);
}
