.breadcrumb {
    letter-spacing: 0.5px;
    padding: 10px 0px;
    display: block;
}

.breadcrumb .breadcrumb-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding-left: 0;
    display: inline-block;
}

.breadcrumb .breadcrumb-item a {
   color: var(--text-default);
}

.breadcrumb .breadcrumb-item a:hover {
    color: var(--bg-primary);
}

.breadcrumb .breadcrumb-item.active {
    color: var(--bg-primary);
}

.breadcrumb .breadcrumb-item:before {
    content: "";
}

.breadcrumb .breadcrumb-item:last-child:after {
    display: none;
}