//FONT
$font-default: "Roboto";

//BACKGROUNDS
$bg-general: #fefeff;
$bg-primary: #2a60c2;                        // Buttons and Title colors
$bg-primary-light:#7175ED;               // Buttons and Title colors
$bg-secondary: #000;
$bg-third: #121214;                          // Footer Color
$bg-muted: #8492a6;

//TEXT
$text-default: #3c4858;                       // General Title color
$text-slider-header: #3c4858;                     // Slider Title
$text-slider-paragraph: #3c4858;               // Slider paragraph

$text-primary: #4a148c;
$text-muted: #8492a6;                         // Gerneral Paragraph colors
$text-light: #f8f9fc;                         //Títulos do Footer e etc
$text-dark: #212529;

//EXTRA
$bg-btn-telefone: #518134;                   //Botão Telefone
$text-btn-telefone: #fff;;               //Texto Botão Telefone
$bg-btn-cotar: #1c6de6;                 //Botão Cotar
$text-btn-cotar: #fff;                        //Texto Botão Cotar